{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task Forge</title>
    <link rel="stylesheet" type="text/css" href="{% static 'tasks/style.css' %}" />
  </head>
  <body>
    <main class="container">
      <header>
        <nav>
          <div class="nav-links">
            {% if request.user.is_authenticated %}
              <a href="{% url 'tasks:index' %}">Tasks</a>
              <a href="{% url 'tasks:create_task' %}">Add</a>
            {% else %}
              <a href="{% url 'users:login' %}">Login</a>
              <a href="{% url 'users:signup' %}">Register</a>
            {% endif %}
          </div>

          <div class="auth-info">
            {% if request.user.is_authenticated %}
              <p>Hi, {{ request.user.username }}</p>
              <a href="{% url 'users:logout' %}">Logout</a>
            {% endif %}
          </div>
        </nav>
      </header>

      {% block main %}

      {% endblock %}
    </main>
  </body>
</html>
